{% extends 'master.html' %}


	{% block content%}
<body>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Books</span>
</nav>



     <div class="container">
	 <h2>Book List</h2>
	 
 <table class="table table-blue">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Actioins</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}

                    <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.author }}</td>
                    <td><a class="btn btn-info" href="/edit/{{ book.id }}">Edit</a>
                        <a class="btn btn-danger" href="/delete/{{ book.id }}">Delete</a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
        <a class="btn btn-primary" href="/add_book/">Add Book</a>
    </div>
	 </div>
</body>






{% endblock %}